<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <div>
        <h1> </h1> 
    </div>
    <a id="exit-btn" href="/"> exit </a>
    <fieldset>
        <legend> chat contents </legend>
        <div id="chat-list">

        </div>

        <form id="chat-form"  action="/chat" method="post" enctype='multipart/form-data'>
            <label for="gif">upload gif</label>
            <input id="gif" type="file" name="gif" accept="image/gif">

            <input id ="chat" type="text" name="chat" >

            <button type="submit"> send </button>
        </form>
    </fieldset>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript"> 
        var socket = io.connect('http://localhost:8005/chat', {
            path: '/socket.io'
          });
          socket.on('join', function (data) {
            var div = document.createElement('div');
            div.classList.add('system');
            var chat = document.createElement('div');
            div.textContent = data.chat;
            div.appendChild(chat);
            document.querySelector('#chat-list').appendChild(div);
          });

          socket.on('exit', function (data) {
            var div = document.createElement('div');
            div.classList.add('system');
            var chat = document.createElement('div');
            div.textContent = data.chat;
            div.appendChild(chat);
            document.querySelector('#chat-list').appendChild(div);
          });
    </script>
</body>
</html>