<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <fieldset>
        <legend> create room </legend>
        <form action="/room" method="post">

            <input type="text" name="title" placeholder="title">

            <input type="number" name="max" placeholder="" min="2" value="10">

            <input type="password" name="password" placeholder="password">

            <button type="submit"> create </button>
        </form>
    </fieldset>


    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript"> 
    
    
    </script>
</body>
</html>